* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
#container {
  background-color: #faf6f6;
  width: 100%;
  height: 100vh;
  display: flex;
}

#picture {
  width: 40%;
  height: 100%;
  background-color: #faf6f6;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.8);
}

#form {
  box-shadow: inset 0 2px 5px rgba(43, 2, 2, 0.8);
  width: 60%;
  height: 100%;
  background-color: #fef4e8;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  animation: form-slide-in 3s ease-in-out forwards;
}

img {
  width: 70%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10%;
  margin-left: 15%;
}

#pra {
  text-align: center;
  font-size: 3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #b00005;
}

.inp {
  background-color: #ffffff;
  width: 38%;
  height: 8%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 5px rgba(43, 2, 2, 0.8);
  border: 2px solid #fef4e8;
  transition: border-color 0.3s ease-in-out;
  /* margin-bottom: 3%; */
}

.inp:focus {
  border-color: #b00c00;
  animation: input-grow 1.8s ease-in-out;
}

#button {
  background-color: #b00005;
  color: white;
  margin-left: 23%;
  width: 160px;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 7%;
}

#button:hover {
  background-color: #c9302c;
  color: white;
  box-shadow: 0 2px 5px #c9302c(0, 0, 0, 0.2);
}

#textDownButton {
  margin-left: 20%;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(17, 17, 17);
}

.fontfamily {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: rgb(17, 17, 17);
}

.checkboxtext {
  color: rgb(17, 17, 17);
}

.display {
  display: flex;
}

@keyframes form-slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX();
  }
}
.alertFullName,
.alertEmail,
.alertPassword,
.checkBoxValidation {
  margin-bottom: 5%;
}
